div.svc-card-ctn {
  // margin: 50px auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.svc-card-ctn__text-row {
  display: block;
  text-align: center;
}

div.svc-card-ctn__card-row {
  justify-content: center;
}